@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?szfjjb');
	src:url('fonts/icomoon.eot?szfjjb#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?szfjjb') format('truetype'),
		url('fonts/icomoon.woff?szfjjb') format('woff'),
		url('fonts/icomoon.svg?szfjjb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
	content: "\e900";
}
.icon-chevron-down:before {
	content: "\e901";
}
.icon-chevron-left:before {
	content: "\e902";
}
.icon-chevron-right:before {
	content: "\e903";
}
.icon-chevron-small-down:before {
	content: "\e904";
}
.icon-chevron-small-left:before {
	content: "\e905";
}
.icon-chevron-small-right:before {
	content: "\e906";
}
.icon-chevron-small-up:before {
	content: "\e907";
}
.icon-flow-tree:before {
	content: "\e908";
}
.icon-trash:before {
	content: "\e909";
}
.icon-area-graph:before {
	content: "\e90a";
}
.icon-check:before {
	content: "\e90b";
}
.icon-clipboard:before {
	content: "\e90c";
}
.icon-globe:before {
	content: "\e90d";
}
.icon-grid:before {
	content: "\e90e";
}
.icon-home:before {
	content: "\e90f";
}
.icon-list:before {
	content: "\e910";
}
.icon-magnifying-glass:before {
	content: "\e911";
}
.icon-new-message:before {
	content: "\e912";
}
.icon-new:before {
	content: "\e913";
}
.icon-old-phone:before {
	content: "\e914";
}
.icon-reply:before {
	content: "\e915";
}
.icon-shopping-cart:before {
	content: "\e916";
}
.icon-sound-mix:before {
	content: "\e917";
}
.icon-text-document:before {
	content: "\e918";
}
.icon-tools:before {
	content: "\e919";
}
.icon-user:before {
	content: "\e91a";
}
.icon-sort-alpha-asc:before {
	content: "\e91d";
}
.icon-sort-alpha-desc:before {
	content: "\e91e";
}
.icon-sort-numeric-asc:before {
	content: "\e91f";
}
.icon-sort-numberic-desc:before {
	content: "\e920";
}
.icon-sort-amount-asc:before {
	content: "\e91b";
}
.icon-sort-amount-desc:before {
	content: "\e91c";
}
.icon-paragraph-left:before {
	content: "\e921";
}
.icon-paragraph-justify:before {
	content: "\e922";
}

