@font-face {
  font-family: 'icomoonIcons';
  src:url('fonts/icomoon/icomoon.eot?3gemmn');
  src:url('fonts/icomoon/icomoon.eot?3gemmn#iefix') format('embedded-opentype'),
  url('fonts/icomoon/icomoon.ttf?3gemmn') format('truetype'),
  url('fonts/icomoon/icomoon.woff?3gemmn') format('woff'),
  url('fonts/icomoon/icomoon.svg?3gemmn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("fonts/myriad-pro-regular/MyriadProRegular.eot");
  src: url("fonts/myriad-pro-regular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/myriad-pro-regular/MyriadProRegular.woff") format("woff"),
  url("fonts/myriad-pro-regular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("fonts/myriad-pro-bold/MyriadProBold.eot");
  src: url("fonts/myriad-pro-bold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("fonts/myriad-pro-bold/MyriadProBold.woff") format("woff"),
  url("fonts/myriad-pro-bold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}