#slider {
  border: 1px solid @color-separator;
  //height: @slider-height;
  margin: 18px 0 0;
  overflow: hidden;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: none;

    &.active {
      display: block;
    }
  }

  .img-container {
    border-right: 1px solid @color-separator;
    float: left;
    height: 400px;
    line-height: 450px;
    margin: 25px 0;
    overflow: hidden;
    padding: 0 15px 0 35px;
    text-align: center;
    width: 54%;

    & img {
      vertical-align: baseline;
    }
  }

  .slider-description {
    float: left;
    padding: 66px 32px 20px 16px;
    width: 46%;
    //transform: translate3d(0, -100%, 0);

    h1 {
      font-size: unit(24/@base-font-size, em);
      margin-bottom: 0;
      text-align: center;
    }

    .description {
      font-size: unit(16/@base-font-size, em);
      line-height: 1.3em;
      margin: 8px auto 3px;
      text-align: center;
      //width: 76%;
    }

    .price {
      color: @color-header;
      font: (unit(26/@base-font-size, em)) @base-font-family-bold;
      text-align: center;
    }

    .btn-container {
      margin-top: 20px;
      text-align: center;

      .btn {
        width: 136px;
      }
    }
  }

  .navigation {

    .prev, .next {
      border-radius: 50%;
      border: 1px solid @color-separator;
      color: @color-icon-bg;
      font-size: 28px;
      height: 54px;
      margin-top: -27px;
      outline: 0;
      position: absolute;
      text-decoration: none;
      top: 50%;
      transition: all 0.3s ease;
      width: 54px;

      &:hover {
        background: @color-button-bg;
        color: @color-main;
      }
    }

    .prev {
      left: -24px;
      text-align: right;
      padding-right: 3px;
    }

    .next {
      right: -24px;
      text-align: left;
      padding-left: 3px;
    }

    [class^="icon-"], [class*=" icon-"] {
      line-height: 54px;

      &:before {
        display: block;
        text-indent: 0;
      }
    }
  }
}

#bestsellers {
  margin-top: 22px;
}

#last-added {
  margin-top: 10px;
}

.catalog-header {
  height: 210px;

  figure {
    float: left;
    margin: 0;
    text-align: center;
    width: 160px;

    img {
      max-height: 210px;
    }
  }

  h1 {
    font-size: unit(36/@base-font-size, em);
    margin: 20px 0 10px 196px ;
  }

  .filters-container {
    color: @color-filters-container;
    margin-left: 198px;
    width: @filters-container-width;

    fieldset {
      vertical-align: top;
    }

    .availability-container,
    .price-container,
    .container-container {
      background: @color-filters-container;
      border-bottom: 3px solid @color-main;
      display: block;
      float: left;
      height: 130px;
    }

    .availability-container {
      border-right: 3px solid @color-main;
      padding-left: 14px;
      width: 174px;

      .form-header {
        color: @color-secondary;
        font-size: unit(16/@base-font-size, em);
        padding-top: 20px;
      }

      .form-row {
        margin: 6px 0;
      }

      label {
        color: @color-header;
        font-size: 1em;
      }

      input {
        margin-right: 5px;
      }
    }

    .price-container {
      border-right: 3px solid @color-main;
      width: 168px;

      .form-header {
        &:extend(.catalog-header .filters-container .availability-container .form-header);
        padding-left: 7px;
      }

      .form-row {
        margin: 5px;
        text-align: right;
      }

      label {
        color: @color-header;
        font-size: 1em;
      }

      input {
        background: @color-main;
        border: 1px solid #999;
        color: @color-basic-text;
        height: 24px;
        margin: 2px 10px 2px 6px;
        text-indent: 4px;
        width: 96px;
      }
    }

    .container-container {
      display: block;
      float: left;
      margin-bottom: 3px;
      width: 258px;

      .form-header {
        &:extend(.catalog-header .filters-container .availability-container .form-header);
        float: left;
        margin-left: 16px;
      }
    }

    .sort-box-container {
      border-bottom: 3px solid @color-main;
      height: 62px;

      .dropdown {
        float: right;
        padding-top: 18px;
        margin-right: 24px;
      }
    }

    .amount-per-page-box-container {
      .form-header {
        padding-top: 12px;
        width: 150px;
      }

      .dropdown {
        &:extend(.catalog-header .filters-container .sort-box-container .dropdown);
      }

      .dropdown .dropdown-btn, .dropdown .dropdown-menu a {
        width: 60px;
      }
    }

    .submit-container {
      text-align: right;
    }
  }

}

.subcategory-list {
  list-style: none;
  padding: 0 !important;

  li {
    border: none !important;
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    //width: 19.6%;
    width: 171px !important;
  }

  a {
    color: @color-header;
    display: block;
    font-size: unit(18/@base-font-size, em);
  }
}

.catalog-pagination-container {
  margin-top: 16px;
}

.product-container {

  .product-gallery {
    float:left;

    .image-container {
      border: 1px solid @color-separator;
      height: @base-product-gallery-image-container-height;
      line-height: @base-product-gallery-image-container-height;
      margin: 0;
      text-align: center;
      width: 370px;

      &.preloader {
        background: url(/img/preloader.gif) 50% 50% no-repeat;

        & img {
          display: none;
        }
      }


      img {
        vertical-align: middle;
      }
    }

    .thumbs-list {
      text-align: center;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        margin: 0 10px;
      }

      a {
        border: 1px solid @color-separator;
        display: block;
        height: 90px;
        text-align: center;
        vertical-align: middle;
        width: 70px;
      }

      img {

      }
    }
  }

  .product-info {
    margin-left: @base-product-gallery-image-container-width + @base-gutter-width;

    .nav-tabs {
      padding: 0;

      li {
        display: inline-block;
        margin-right: 6px;
      }

      a {
        border: 1px solid @color-secondary;
        color: @color-secondary;
        display: block;
        font-size: unit(16/@base-font-size, em);
        padding: 4px 10px;

        &.active {
          border: 1px solid @color-active-nav-tabs;
          color: @color-active-nav-tabs;
          text-decoration: none;
        }
      }
    }

     .tab-content {
        .tab-pane {
          display: none;

          &.active {
            display: block;
          }
        }
     }

    .pr-header {
      margin: 14px 0 4px;
    }

    .pr-code {
      background: @color-product-available-bg;
      display: inline-block;
      padding: 0 9px;
    }

    .pr-description, .pr-producer, .pr-available, .pr-quantity {
      font-size: unit(16/@base-font-size, em);
    }

    .pr-description {
      line-height: 1.3em;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .pr-producer {
      margin-bottom: 8px;
    }

    .pr-available {
      font-family: @base-font-family-bold;
      margin-bottom: 12px;
    }

    .pr-quantity {
      margin-bottom: 14px;
      label {
        margin-right: 6px;
      }
      input {
        width: 54px;
      }
    }

    .pr-price {
      .retail-price {
        border-bottom: 1px solid @color-basic-text;
        display: inline-block;
        font-size: unit(22/@base-font-size, em);
        padding-bottom: 10px;
        margin-bottom: 4px;
        min-width: 300px;

        strong {
          color: @color-secondary;
        }
      }
      .more-than {
      }
    }

    .total {
      border-top: 1px solid @color-secondary;
      display: inline-block;
      font-size: unit(18/@base-font-size, em);
      margin-top: 20px;
      min-width: 300px;
      padding-top: 4px;

      .detailed {
        color: @color-total-detailed;
        font-size: unit(14/18, em);
        padding-left: 4px;
      }
    }

    .detailed-list {
      dt, dd {
        margin: 0;
        padding: 0;
        font-size: unit(16/@base-font-size, em);
        line-height: unit(30/16, em);
        height: 30px;
      }

      dt {
        float: left;
        margin-right: 6px;

        &:after {
          content: ":";
        }
      }
      dd:nth-of-type(odd) {
        background: @color-product-available-bg;
      }
    }

    .btn-container {
      margin-top: 12px;

      .btn {
        font-size: unit(22/@base-font-size, em);
        height: 50px;
        width: 160px;
      }
    }
  }
}

.shopping-cart {

  .list-header-pane {
    margin-top: 26px;
  }

  .shopping-cart-grid {
    margin-top: 20px;
    width: 100%;

    td, th {
      color: @color-header;
      font-size: unit(16/@base-font-size, em);
      text-align: center;

      a {
        color: @color-header;
        font-size: 1em;
      }
    }

    th {
      font-size: unit(14/@base-font-size, em);
    }

    thead {
      background: @color-shopping-cart-header-bg;
      width: 100%;

      tr {
      }
      th {
        height: 30px;
        line-height: 30px;

        &:first-child {
          text-align: left;
          padding-left: 32px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 2px solid @color-separator;

        &:first-child {
          border-top: 2px solid @color-separator;
        }
      }

      td {
        padding: 10px 0;

        &:first-child {
          text-align: left;
          padding-left: 20px;

          img {
            display: inline-block;
            margin-right: 20px;
            max-height: 60px;
            max-width: 60px;
          }

          &+td {
            color: @color-price-text;
            font-family: @base-font-family-bold;
          }
        }

        a {
          display: inline-block;
          font-family: @base-font-family;
          padding: 0 8px;
        }

        [class^="icon-"]:before, [class*=" icon-"]:after {
          display: block;
          font-family: 'icomoonIcons';
          font-size: 1.5em;
          float: left;
          line-height: 14px;
          margin-right: 4px;
          text-decoration: none;

        }
      }
    }

    .sum-title {
      font-size: unit(20/@base-font-size, em);
      text-align: left;
      padding-left: 20px;
    }
    .summary {
      padding: 4px 0;
      vertical-align: bottom;

      .inner-wrapper {
        background: @color-product-available-bg;
        font-family: @base-font-family-bold;
        font-size: unit(18/16, em);
        height: 34px;
        display: inline-block;
        line-height: 34px;
        padding: 0 6px;
        text-align: center;
      }
    }
  }

  .btn-pane {
    margin-top: 40px;

    .pull-right {
      a, button {
        padding: 3px 2px 3px 14px;
      }
    }

    .pull-left {
      a {
        padding: 3px 14px 3px 10px;
      }
    }

    a, button {
      height: 42px;
    }
  }
}

.order-prepare {

  .list-header-pane {
    &:extend(.shopping-cart .list-header-pane);
  }

  .btn-pane {
    &:extend(.shopping-cart .btn-pane all);
  }
}

.form-controls-container {
  .phone-text {
    font-size: unit(18/@base-font-size, em);
  }

  .phone-code {
    width: percentage(50/@base-content-container-width);
  }

  #phone-field {
    width: percentage(320/@base-content-container-width);
  }
}

.advanced-search {
  .list-header-pane {
    &:extend(.shopping-cart .list-header-pane);
  }

  .btn-pane {
    &:extend(.shopping-cart .btn-pane all);
  }

  .dropdown-multiple .dropdown-menu-multiple {
    top: 14px;
    margin-left: 33%;
    width: percentage(@base-form-control-width/@base-content-container-width);
  }
}





