.breadcrumb {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    &+li:before {
      color: @color-basic-text;
      content: "/\00a0";
      padding: 0 1px 0 5px;
    }

  }

  a, .active {
    font-size: unit(14/@base-font-size, em);
  }

  .active {
    color: @color-basic-text;
  }

  a {
    color: @color-main-nav-bg;
  }

}