.btn {
  background-color: @color-button-bg;
  background-image: none;
  border: none;
  color: @color-main;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;

  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.4em;
    margin-right: 5px;
    position: relative;
    top: 5px;
  }

  &.btn-lg {
    font-size: unit(@btn-lg-font-size/@base-font-size, em);
    height: @btn-lg-height;
    line-height: unit(@btn-lg-height/@btn-lg-font-size, em);

  }

  &.btn-sm {
    font-size: unit(@btn-sm-font-size/@base-font-size, em);
    height: @btn-sm-height;
    line-height: @btn-sm-line-height;

    [class^="icon-"], [class*=" icon-"] {
      margin-right: 3px;
      top: 4px;
    }
  }
}