.dropdown {
  position: relative;

  .dropdown-btn {
    &:extend(.btn);

    background: @color-category-nav-bg;
    border: 1px solid @color-separator;
    color: @color-secondary;
    display: block;
    font-size: unit(@base-dropdown-font-size/@base-font-size, em);
    height: 30px;
    width: 110px;
    z-index: 999;

    [class^="icon-"], [class*=" icon-"] {
      font-size: 1em;
      position: relative;
      top: 2px;

      &+span {
        margin: 0 -4px 0 8px;
      }
    }

  }

  .dropdown-menu {
    background: @color-category-nav-bg;
    border: 1px solid @color-separator;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 18px;
    z-index: 1000;

    a {
      &:extend(.dropdown .dropdown-btn);

      display: block;
      border: none;
      height: @base-dropdown-menu-item-height;
      line-height: unit(@base-dropdown-menu-item-height/@base-dropdown-font-size, em);
      transition: text-indent 0.3s ease;

      &:hover {
        background: @color-main;
        text-indent: -5px;

        &:after {
          content: "\e905";
          font-family: 'icomoonIcons';
        }
      }
    }

  }

  &.open {
    .dropdown-menu {
      display: block;
    }
  }
}