.form {
  margin-top: 24px;
}

.form-controls-container {
  background: @color-product-available-bg;
  padding: 20px 0;

  .control-container {
    padding: 12px 20px;
    width: 100%;
  }

  .form-label, .form-control {
    display: inline-block;
    height: @base-form-control-height;
    line-height: @base-form-control-height;
  }

  .form-label {
    font-size: unit(18/@base-font-size, em);
    padding-right: 36px;
    text-align: right;
    width: percentage(@base-form-label-width/@base-content-container-width);

    &:after {
      content: ":";
    }
  }

  .form-control {
    display: inline-block;
    border: 2px solid @color-form-control-border;
    text-indent: 10px;
    width: percentage(@base-form-control-width/@base-content-container-width);
  }
}

.form-error-msg {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 12px;
}
