.list-view-pane {
  border: 1px solid @color-pane-border;
  height: @base-list-view-pane-height;
  width: @base-list-view-pane-width;
  .center-block();

  .pane-header {
    color: @color-secondary;
    float: left;
    font-size: unit(16/@base-font-size, em);
    line-height: unit(@base-list-view-pane-height/16 - 0.1, em);
    margin: 0 8px 0 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    color: @color-secondary;
    display: block;
    font-size: 2.1em;
    height: @base-list-view-pane-height;
    line-height: @base-list-view-pane-height;
    outline: 0;
    text-align: center;
    text-decoration: none;
    width: 28px;

    &.active {
      color: @color-pane-border;
    }

    &:before {
      display: block;
      font-size: 1em;
      height: 100%;
      text-indent: 0;
    }
  }
}